<div class="container">
  <div class="card">
    <div class="card-header">
    <p class="fw-bolder fs-1 text-center">Sign up</p>
    </div>
      <div class="card-body">
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


    <div class="field form-group">
      <%= f.label :email, class: "col-sm-2 col-form-label" %><br />
      <%= f.email_field :email, class: "form-control", placeholder:"example@mail.com", autofocus: true, autocomplete: "email" %>
    </div>
    <br />
    <div class="field form-group">
      <%= f.label :password, class: "col-sm-2 col-form-label" %>
      <%= f.password_field :password, class: "form-control", placeholder:"Create password", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
    <br/>
    <div class="field form-group">
      <%= f.label :password_confirmation, class: "col-sm-2 col-form-label" %><br/>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder:"Confirm password", autocomplete: "new-password" %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-success btn-hover", data: {turbo: false}, class: "msi" %>
    </div>
  <% end %>

  </div>
  </div>

  <br/>
  <%= render "devise/shared/links" %>
</div>