<div class="container">
  <div class="card">
    <div class="card-header">
      <p class="fw-bolder fs-1">Sign up</p>
    </div>

    <style>
      body {
        margin-top: 35px;
        background-image: url("https://cdn.worldvectorlogo.com/logos/basecamp-logo-2019-1.svg")
      }
    </style>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="card-body">
      <div class="field form-group" >
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control",  autocomplete: "email" %>
      </div>

      <div class="field form-group">
      <div class="mb-3" >
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class:"form-control",  autocomplete: "new-password" %>
      </div>
      </div>

      <div class="field form-group">
      <div class="mb-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
      </div>
      </div>
      <center>
      <div class="actions">
        <%= f.submit "Sign up", data: {turbo: false} , class:"button" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
      <style>
      .button {
        background-color: #13aaeb; 
        border-radius: 12px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
      </style>
      </center>
    </div>
  <div>
</div>