    <% if current_user %>
    <div class="email">
        <%= current_user.email %>
    </div>
    <br/>
    <div class="pro">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#008CBA" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg>
        <%= link_to "New projects", projects_path, class:"new" %>
    </div>
    <br/>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout" %>
    <%# main page %>

        <% else %>
        <h1>My Basecamp</h1>
        <%= link_to "Sign up", new_user_registration_path, class:"signup" %>
        <%= link_to "Log in", new_user_session_path, class:"login" %>

        <div class="about">
            <div class="col-lg-10 col-md-6 col-sm-12">
                <h2> About Basecamp</h2>
                <p>
                    37signals (formerly Basecamp before reverting to its original name) is an American web software company based in Chicago, Illinois. The firm was co‑founded in 1999 by Jason Fried, Carlos Segura, and Ernest Kim as a web design company.
                    Since mid‑2004, the company's focus has shifted from web design to web application development. Its first commercial application was Basecamp, followed by Backpack, Campfire, and Highrise.The open source web application framework Ruby on Rails was initially
                    created for internal use at 37signals, before being publicly released in 2004. In February 2014, the company adopted a new strategy, focusing entirely on its flagship product, the software package also named Basecamp, and renaming the company from 37signals
                    to Basecamp. Jason Fried and David Heinemeier Hansson have published several books under the 37signals name, and in May 2022, citing their present-day focus on both Basecamp and HEY, reverted to 37signals as their company name.
                    <a href="https://en.wikipedia.org/wiki/Basecamp_(company)#Products"> More information</a> (wikipedia.com)
                </p>
            </div>
        </div>
        <% end %>
