
<% if current_user %>   
    <br>
    <br>
    <center>
    <h3>Hello user: </h3> <h3><%= current_user.email %></h3>
    <br> 
    <h2><%= link_to "New Project", projects_path %></h2>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
    </center>
        <% else %>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<%= link_to 'MyBasecamp', root_path, class:"navbar-brand" %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <%= link_to "Sign up", new_user_registration_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class:"nav-link" %>
    <li>
    <center>
<style>
    body {
        background-image: url("https://cdn.worldvectorlogo.com/logos/basecamp-logo-2019-1.svg")
}
</style>
</center>
<% end %>
