<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit">
    <%= form.label :name, class:"name" %>
    <%= form.text_field :name, class:"form" %>

    <%= form.label :description, class:"name" %>
    <%= form.text_area :description , class:"form"%>
  
    <%= form.number_field :user_id, id: :project_user_id, value: current_user.id, type: :hidden %>
  <br/>
    <%= form.submit "Create Project", class:"create"%>
  </div>
<% end %>
