
<center>
  <p style="color: green"><%= notice %></p>

  <p class="fw-bolder fs-1">Projects</p>

  <div id="projects">
    <% @projects.each do |project| %>
    
    <% if project.user.id == current_user.id %>

    
      <%= render project %>
      <p>
        <%= link_to "Show this project", project %>
      </p>
    <% end %>
    <% end %>
  </div>

  <%= link_to "New project", new_project_path %>
  <br>
  <br>
  <%= button_to "Log Out", destroy_user_session_path, method: :delete , class: "hp"%>

<style>
    .hp {
      background-color: blue; 
      border-radius: 12px;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    body {
      margin-top: 35px;
    }
  </style>
  </center>