
<center>
  <p style="color: green"><%= notice %></p>

  <p class="fw-bolder fs-1">Projects</p>
  <br>
  <div id="projects">
    <% @projects.each do |project| %>
    
    <% if project.user.id == current_user.id %>

    
      <%= render project %>
      <p>
        <h4><%= link_to "Show this project", project %></h4>
      </p>
      <br>
    <% end %>
    <% end %>
  </div>
  <h2><%= link_to "New project", new_project_path %></h2>
  <br>
  <%= button_to "Log Out", destroy_user_session_path, method: :delete , class: "hp"%>

<style>
    .hp {
      background-color: red; 
      border-radius: 12px;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
    }
    body {
      margin-top: 35px;
    }
  </style>
  </center>