<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">
          <div class="myForm text-center">
            <header>Log in</header>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, class:"myInput", autofocus: true,placeholder:"example@mail.com", autocomplete: "email" %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class:"myInput", autocomplete: "current-password" %>
            </div>
          
            <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in" , class:"submit"%>
            </div>
            <br>
            <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
      </div>
        <div class="photo">
            <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="#9932cc" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
              <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
        </div>
    </div>
  </div>
</div>
