<!DOCTYPE html>
<html>
  <head>
    <title>My Basecamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application","data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="sylesheeet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <style>
        *{
          margin:0;
          padding:0;
          box-sizing:border-box;
        }
        body {
          background-image: url("https://mynesd.nesd.ca/public/9cq7w5j/ProfileImages/Backgrounds/typewriter.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
        } 
        .container {
          position: absolute;
          max-width: 800px;
          height: 500px;
          margin: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        } 
        .myLeftCtn {
          position: relative;
          background: #fff;
          border-radius: 25px;
          height: 100%;
          padding: 25px;
          padding-left: 50px;
        }
        .myLeftCtn header {
          color: #fff0f5;
          margin-top: 1%;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        header {
          text-align: center;
          color: #fff0f5;
          margin-top: 1%;
          font-size: 50px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        .row{
        height: 100%; 
        } 
        .myCard {
          position: relative;
          background: #fff;
          height: 100%;
          border-radius: 25px;
          -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
          -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
        } 
        .Card {
          position: relative;
          background: #fff;
          height: 100%;
          margin-left: 36%;
          border-radius: 25px;
          -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
          -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
        } 
        .myRightCtn header {
          color: #fff;
          font-size: 44px;
        }
        .box {
          position: relative;
          margin: 20px;
          margin-bottom: 100px;
        } 
        .myLeftCtn .myInput {
          width: 230px;
          border-radius: 25px;
          padding: 10px;
          padding-left: 50px;
          border: none;
          -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
          -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
        }
        .myLeftCtn .myInput:focus {
          outline: none;
        } 
        .myForm {
          position: relative;
          margin-top: 50px;
        }
        .submit {
          background-color: #9932cc; 
          border: none;
          border-radius: 20px;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
        }
        .photo {
          margin-top: 15%;
          margin-left: 4%;
        }
        p {
          text-indent: 50px;
          text-align: justify;
          letter-spacing: 3px;
        }
        a {
          text-decoration: none;
          color: #008CBA;
        }
        .about {
          color: #fff0f5;
          margin-top: 2%;
          font-size: 18px;
          margin-left: 16%;
        }
        h1 {
          margin-top: 5%;
          font-size: 100px;
          color: #fff0f5;
          text-align: center;
        }
        h2 {
          color: #fff0f5;
          font-size: 50px;
          margin-left: 33%;
        }
        .login {
          margin-top: 1%;
          background-color: #9932cc;
          color: white;
          border: 2px solid #9932cc;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 19px;
          border-radius: 12px;
        }
        .signup {
          margin-left: 43%;
          background-color: #9932cc;
          color: white;
          border: 2px solid #9932cc;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 19px;
          border-radius: 12px;
        }
        .logout {
          background-color: #a81c07; 
          border: none;
          margin-left: 47%;
          border-radius: 20px;
          color: white;
          padding: 15px 32px;
          text-decoration: none;
          display: inline-block;
          font-size: 19px;
        }
        .pro {
          text-align: center;
          font-size: 50px;
        }
        .email{
          text-align: center;
          font-size: 60px;
          margin-top: 13%;
          color: #fff0f5;
        }
        .show {
          text-align: center;
          font-size: 30px;
        }
        .nw {
          margin-left: 42%;
          font-size: 40px;
        }
        .back{
          text-align: center;
          font-size: 30px;
        }
        .prjt{
          text-align: center;
          font-size: 20px;
        }
        .cnt{
          margin-top: 1%;
          text-align: center;
          font-size: 18px;
        }
        .this {
          margin-top: 2%;
          text-align: center;
          font-size: 28px;
        }
        .delete {
          background-color: #a81c07; 
          border: none;
          margin-top: 1%;
          margin-left: 44%;
          border-radius: 20px;
          color: white;
          padding: 15px 32px;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
        .form {
          width: 250px;
          border-radius: 25px;
          padding: 10px;
          padding-left: 50px;
          border: none;
          -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
          -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
        }
        .form:focus {
          outline: none;
        } 
        .name {
          color: #00ffff;
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        .create {
          background-color: #32cd32; 
          border: none;
          border-radius: 20px;
          color: white;
          padding: 15px 32px;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
        .edit {
          display: grid;
          justify-content: center;
        }
        h3 {
          color: #4b0082;
        }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
